@{
    ViewBag.Title = "GroupTimetable";
}
@using Entities.App
@model IEnumerable<GroupTimetable>
<h1>@ViewBag.Title</h1>
@foreach (var item in Model)
{
    @item<br />
}
@Html.ActionLink("Back", "Index")




